* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(221, 141, 135, 0.8);
  font-family: Helvetica, sans-serif;
  margin-top: 80px;
}

.navbar {
  font-size: 18px;
  background-color: rgba(221, 141, 135);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.logo, .posts, .authors {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.logo {
  text-transform: uppercase;
}

.main-nav li {
  text-align: center;
  background-color: rgba(221, 141, 135);

}

/* .menu {
  background-color: rgba(221, 141, 135);
  margin-top: 24px;
  flex-direction: row;
} */

.logo, .posts, .authors {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

/* .navbar-dropdown {
  position: relative;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
} */

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5px; */
  }

  /* .nav-links {
    margin-left: 40px;
  } */

  .menu {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

   .menu:hover/*, .nav-links:hover*/ {
    color: rgba(255, 255, 255, 1);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  width: 80%;
  background-color: rgba(221, 141, 135, 0.2);
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.title {
  font-size: 28px;
  padding: 10px;
}

.article {
  font-size: 16px;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.notes {
  width: 35%;
  font-size: 12px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.publisher {
  font-style: italic;
}

.likes {
  font-weight: bold;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-links {
  display: none;
  position: absolute;
  background-color: rgba(221, 141, 135, 1);
  min-width: 160px;
  list-style: none;
  z-index: 1;
}

.dropdown-links li {
  display: block;
  text-decoration: none;
  padding: 10px;
}

.dropdown-links li:hover {
  background-color: black;
}

.dropdown:hover .dropdown-links {
  display: block;
  color: rgba(255, 255, 255, 1);
} */
