* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  margin-top: 80px;
}

.navbar {
  font-size: 22px;
  background-color: rgb(101, 191, 242);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.main-nav {
  list-style-type: none;
  display: none;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(101, 191, 242);
}

.main-nav li {
  text-align: center;
  margin: 15px;
}

.logo {
  text-transform: uppercase;
}

.logo, .nav-links {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

   .logo, .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  width: 80%;
  background-color: rgba(101, 191, 242, 0.5);
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.title {
  font-size: 28px;
  padding: 10px;
}

.content {
  font-size: 16px;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.notes {
  width: 35%;
  font-size: 12px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.publisher {
  font-style: italic;
}

.likes {
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 24px;
}

button {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
