* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  margin-top: 80px;
}

.navbar {
  font-size: 22px;
  background-color: rgb(255, 255, 255);
  border-bottom: 20px solid rgb(245, 151, 178);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}

.main-nav {
  list-style-type: none;
  display: none;
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-nav li {
  text-align: center;
  margin: 15px;
}

.logo {
  text-transform: uppercase;
}

.logo, .nav-links {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.logo:hover, .nav-links:hover {
  color: rgba(0, 0, 0, 0.7);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  width: 80%;
  background-color: rgb(245, 151, 178, 0.5);
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.title {
  font-size: 28px;
  padding: 10px;
  margin: 0px 20px 10px 20px;
}

.content {
  font-size: 16px;
  margin: 0px 20px 10px 20px;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.notes {
  width: 50%;
  font-size: 12px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.publisher {
  font-style: italic;
  margin: 0px 20px 10px 20px;
}

.likes {
  font-weight: bold;
  margin: 0px 20px 10px 20px;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 24px;
  margin: 0px 20px 10px 20px;
}

button {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  font-size: 16px;
  background-color: inherit;
}

button:hover, #upBtn:hover {
  cursor: pointer;
  background-color: rgb(245, 151, 178, 0.5);
  color: rgba(0, 0, 0, 0.7);
}

footer {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .notes {
    width: 100%;
  }

  button {
    display: flex;
    justify-content: center;
  }
}

#upBtn {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 50px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  font-size: 24px;
  background-color: inherit;
  display: none;
  bottom: 60px;
  right: 20px;
  position: fixed;
  cursor: pointer;
}
